{% extends "base.html" %}
{% load static %}


{% block title %} Home {% endblock %}

{% block content %}


{% if user.is_authenticated %}
    <h2>Hello {{user}}</h2>
    <div class="inside-container">
        <a href="api/notes">Go to api lists</a>

    </div>
{% else %}
    <h2>You are not logged in</h2>
    <div class="inside-container">
        <a href="api-auth/login/?next=/api/notes/" >Log In</a>
    </div>
{% endif %}

<div>
    <h2>Links </h2>
    <div class="inside-container">
        <a href="{%url 'api:home'%}">API - Application Programming Interface</a>
    </div>
    <div class="inside-container">
        <a href="{%url 'register'%}">User Register</a>
    </div>
    <!-- <div class="inside-container">
        <a href="https://sleepy-ridge-47471-b1a97be9fc1d.herokuapp.com/api-auth/login/?next=/api/notes/">Login</a>
    </div> -->
    <div class="inside-container">
        <a href="{%url 'token'%}">Token</a>
    </div>
    <div class="inside-container">
        <a href="{%url 'token-refresh'%}">Token Refresh</a>
    </div>
    <!-- <div class="inside-container">
        <a href="https://sleepy-ridge-47471-b1a97be9fc1d.herokuapp.com/site/main/url/login/?next=/site/main/url/">Admin Panel</a>
    </div> -->
</div>











{% endblock %}